.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.lamps {
	position: relative;
	height: 200px;
}

.first-lamp {
	position: absolute;
	left: 25%;
	top: 70%;
	display: inline-block;
}

.second-lamp {
	position: absolute;
	left: 46%;
	top: 0;
	display: inline-block;
}

.third-lamp {
	position: absolute;
	right: 30%;
	top: 70%;
	display: inline-block;
}

.fourth-lamp {
	position: absolute;
	top: 140%;
	left: 46%;
	display: inline-block;
}

.btn-group {
	position: absolute;
	top: 80%;
	right: 52%;
	transform: translate(50%, -50%);
}

.start-btn {
	background-color: greenyellow;
	font-size: 16px;
	border: none;
	padding: 10px 30px;
	border-radius: 8px;
}

.stop-btn {
	background-color: red;
	margin-left: 10px;
	font-size: 16px;
	border: none;
	padding: 10px 30px;
	border-radius: 8px;
}
